.creators {
    padding-inline: 5rem;
    position: relative;
    padding-block: 2rem;
    gap: 3rem;
}

/* .creators .creator-heading::before {
    width: 50%;
    height: 5px;
    background-color: gray;
    position: absolute;
    z-index: 2;
    top: 2.5%;
    left: 15%;
    content: "";
} */

.creator-card {
    margin-block-start: 2rem;
    position: relative;
    z-index: 100;
    
}

.creator-card .image-box {
    width: 220px;
    height: 350px;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px black;
    margin-inline-end: 1rem;
    z-index: 500;
    position: relative;

}

/* .creator-card::before{
    background-color: black;
    width: 220px;
    height: 350px;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px black;
    margin-inline-end: 1rem;
    z-index: 5;
    position: absolute;
    content: "";
    top: 0;
    left: 87%;
    transform: rotatez(8deg);
    z-index: 10;
} */

.creator-card .about-creator {
    flex: 7;
    position: absolute;
    z-index: 0;
    gap: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px black;
    padding-block: 1rem;
    left: 10%;
    
    min-width: 90%;
}

.about-creator p {
    margin-block-start: 0.5rem;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}



/* Media query */

@media (max-width : 64em) {
    .column-for-mobile {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2rem;
    }

    .creators {
        padding: 0;
        padding-inline: 1rem;
        padding-block-end: 2rem;
    }

    .about-creator {
        top: 10%;
        max-height: 60vmin;
        overflow-y: scroll;
        right: 10%;
        left: 5%;
    }

    .about-creator p{
        margin-block-start: 0rem;
        
    }

    .creator-card .image-box {
        width: 125px;
        height: 225px;
        margin-inline-start: 2rem;
        margin-block-start: 1rem;
    }
}


@media (min-width : 64em) {
    .row-for-desktop {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
    }

}