/* Media query */

@media (max-width : 64em) {

    .wheather {
        padding-block-start: 1.5rem;
        gap: 1rem;
    }

    .upcoming-days-padding{
        padding-inline-start: 1rem;
    }


}


@media (min-width : 64em) {
    .wheather {
        padding-inline-start: 10rem;
        padding-block: 1rem;
        gap: 1rem;
    }

}