.next-days{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    gap: 1.5rem;
    width: 50%;
    overflow-x: scroll;
}

.next-days::-webkit-scrollbar{
    display: none;
}

/* Media query */

@media (max-width : 64em) {
    .next-days{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto;
        gap: 1.5rem;
        width: 100%;
        overflow-x: scroll;
        padding-inline: 1rem;
        padding-block-end: 1rem;
    }
}


@media (min-width : 64em) {
  

}