.todays-future{
    display: grid;
    grid-auto-flow: column;
    grid-template: auto;
    gap: 1rem;
    margin-block-start: 1rem;
    width : 100vmin;
    overflow-x: scroll;
}

.todays-future::-webkit-scrollbar {
    display: none;
  }

.time-item{
    width: 100px;
    height: 100%;
    margin-inline-start: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-item img{
    width: 80px;
    height: 100px;
    object-fit: contain;
}

/* Media query */

@media (max-width : 64em) {
    .todays-future{
        padding-inline: 1rem;
    }
}


@media (min-width : 64em) {
   

}