

.extra-info{
    margin-block-start: 1rem;
    gap: 1.5rem;
}

.extra-info div {
    gap: 1.5rem;
}

.extra-info div img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}



/* Media query */

@media (max-width : 64em) {

    .wheather-image img{
        min-height: 250px;
        object-fit: contain;
    }


}


@media (min-width : 64em) {
    .wheather-image img{
        height: 440px;
        object-fit: contain;
    }

}